In [1]:
import pandas as pd

reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col= 0 )

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [3]:
dtype = reviews['points'].dtype

dtype

dtype('int64')

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [4]:
point_strings = reviews.points.astype(str)

point_strings

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [5]:
n_missing_prices = reviews['price'].isnull().sum()

n_missing_prices

8996

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [6]:
replace_val = reviews['region_1'].fillna("Unknown")

reviews_per_region = replace_val.value_counts().sort_values(ascending = False)

reviews_per_region

Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Henty                          1
Ohio                           1
Valpolicella Valpantena        1
Coda di Volpe d'Irpinia        1
Ch√¢teau-Chalon                 1
Name: region_1, Length: 1230, dtype: int64